<div class="row">
    <div ng-repeat="item in items.Items">
        <div class="col-sm-8 blog-main">
            <h2 class="blog-post-title"><a ui-sref="item({itemId: {{ item.id }}})">{{ item.title }}</a></h2>
            <p>
                <a ui-sref="item-edit({itemId: {{ item.id }}})"><i class="fa fa-edit"></i></a>
                <a ng-click="deleteItem(item.id)" style="cursor: pointer;"><i class="fa fa-remove"></i></a>
                Powered by: <a ui-sref="userinfo({ nickname:'{{ item.user_name }}' })">{{ item.user_name }}</a>
            </p>
        </div>
    </div>
</div>