<div class="row" ng-if="user.id > 0">
    <h1 class="page-header">{{ user.login }}</h1>
    <a ng-if="accessEdit" ui-sref="useredit({login:'{{ user.login }}' })">edit</a>
    <div class="form-group">
        <div class="col-xs-2">id:</div>
        <div class="col-xs-10">{{ user.id }}</div>
    </div>

    <div class="form-group">
        <div class="col-xs-2">Name:</div>
        <div class="col-xs-10">{{ user.name }}</div>
    </div>

    <div class="form-group">
        <div class="col-xs-2">Email:</div>
        <div class="col-xs-10">{{ user.email }}</div>
    </div>
</div>
<div ng-if="user.id == 0">
    <div class="alert alert-danger alert-dismissable">
        Error ! User not found.
    </div>
</div>