<div class="row">
    <h1 ng-if="isNew">Signup form</h1>
    <h1 ng-if="!isNew">Update form</h1>
    <form novalidate class="form-horizontal">
        <div class="form-group">
            <label for="username" class="control-label col-xs-2">Username:</label>
            <div class="col-xs-6">
                <input type="text" name="username" ng-model="user.username" id="username" placeholder="Username" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="control-label col-xs-2">Name:</label>
            <div class="col-xs-6">
                <input type="text" name="name" ng-model="user.name" id="name" placeholder="Name" class="form-control" />
            </div>
        </div>


        <div class="form-group">
            <label for="email" class="control-label col-xs-2">Email:</label>
            <div class="col-xs-6">
                <input type="email" name="email" ng-model="user.email" id="email" placeholder="Email" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="control-label col-xs-2">Password:</label>
            <div class="col-xs-6">
                <input type="password" name="password" ng-model="user.password" id="password" placeholder="Password" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-6">
                <button type="submit" class="btn btn-primary" ng-click="userSignup(user);" ng-if="isNew">Create user</button>
                <button type="submit" class="btn btn-primary" ng-click="userUpdate(user);" ng-if="!isNew">Update user</button>
            </div>
        </div>
    </form>
</div>