<div class="bs-example">
    <form novalidate class="form-horizontal">
        <div class="form-group">
            <label for="user_name" class="control-label col-xs-2">Username:</label>
            <div class="col-xs-10">
                <input name="user_name" ng-model="item.user_name" id="user_name" placeholder="Username" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="control-label col-xs-2">Title:</label>
            <div class="col-xs-10">
                <input name="title" ng-model="item.title" id="title" placeholder="Title" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="control-label col-xs-2">Description:</label>
            <div class="col-xs-10">
                <textarea name="description" ng-model="item.description" id="description" placeholder="Description" class="form-control" rows="3"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary" ng-if="isNew" ng-click="createItem(item)">Create item</button>
                <button type="submit" class="btn btn-primary" ng-if="!isNew" ng-click="updateItem(item)">Update item</button>
            </div>
        </div>
    </form>
</div>