<div class="bs-example">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="user_name" class="control-label col-xs-2">Username:</label>
            <div class="col-xs-10">
                <input name="user_name" value="{{ item.user_name }}" id="user_name" placeholder="Username" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="control-label col-xs-2">Title:</label>
            <div class="col-xs-10">
                <input name="title" value="{{ item.title }}" id="title" placeholder="Title" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="control-label col-xs-2">Password:</label>
            <div class="col-xs-10">
                <textarea name="description" id="description" placeholder="Description"class="form-control" rows="3">{{ item.description }}</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary" ng-click="updateItem(item)" >Update item</button>
            </div>
        </div>
    </form>
</div>